@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@layer utilities {
  .fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
  .hero-content-bottom {
    position: absolute;
    bottom: 120px; /* Atur angkanya sesuai selera, misal 100px atau 150px */
    left: 0;
    right: 0;
    z-index: 10;
}
}